body {
    padding: 25px 25px 25px 25px;
    font: 15px Helvetica, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #FFF;
    }
    

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; }